@charset "UTF-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*START CSS HERE*/
html {
	scroll-behavior: smooth;
}

#home
{
	height: 100%;
	width: 130px;
	padding-top: 30px;
	padding-left: 50px;
}

.topnav
{
	float: right;
	padding-right: 50px;
	padding-top: 50px;
}

.topnav > a
{
	padding-left: 45px;
	text-decoration: none;
	font-family: "Slackey", sans-serif;
	font-weight: 400;
	color: #e8b235;
	font-size: 23px;
}

.homebox
{
	border-radius: 15px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	height: 690px;
}

#homebox
{
	width: 100%;
	height: 100%;
	border-radius: 25px;
	object-fit: cover;
}

#welcome
{
	font-family: "Slackey", sans-serif;
	font-weight: 400;
	font-size: 40px;
	color: #414f14;
	position: absolute;
	bottom: 173px;
	left: 90px;
}

#statement
{
	font-family: "Slackey", sans-serif;
	font-weight: 100;
	font-size: 15px;
	color: #414f14;
	position: absolute;
	bottom: 65px;
	left: 90px;
	width: 50%;
	line-height: 1.6;
}

#services {
	padding-top: 30px;
	padding-left: 30px;
	font-family: "Slackey", sans-serif;
	font-weight: 400;
	font-size: 50px;
	color: #e8b235;
}

#container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 20px;
}

.boating {
	padding-left: 30px;
	padding-top: 30px;
	width: 40%;
	height: 320px;
	position: relative;
}

#boating {
	width: 100%;
	height: 100%;
	border-radius: 25px;
	border-width: 5px;
	border-style: solid;
	border-color: #53aeb7;
	object-fit: cover;
}

.textbox1 {
	padding-left: 30px;
	padding-top: 60px;
	background: #ffffff;
	width: 30%;
	height: 260px;
	position: absolute;
	top: 35px;
	right: -6px;
	border-radius: 0px 20px 20px 0px;
	opacity: 75%;

}

#subhead1 {
	font-family: "Urbanist", sans-serif;
	font-weight: 700;
	font-size: 25px;
	position: absolute;
	top: 80px;
	right: 109px;
	color: #5d7422;
}

#description1 {
	position: absolute;
	font-family: "Urbanist", sans-serif;
	font-weight: 600;
	font-size: 13px;
	line-height: 1.6;
	width: 30%;
	padding-top: 5px;
	top: 110px;
	right: 2px;
	color: #5d7422;
}

.surfing {
	padding-right: 30px;
	padding-top: 30px;
	padding-left: 60px;
	width: 50%;
	height: 320px;
	float: right;
	position: relative;
}

#surfing {
	width: 100%;
	height: 100%;
	border-radius: 25px;
	border-width: 5px;
	border-style: solid;
	border-color: #53aeb7;
	object-fit: cover;
}

.textbox2 {
	padding-left: 30px;
	padding-top: 60px;
	background: #ffffff;
	width: 30%;
	height: 260px;
	position: absolute;
	top: 35px;
	left: 65px;
	border-radius: 20px 0px 0px 20px;
	opacity: 75%;
}

#subhead2 {
	font-family: "Urbanist", sans-serif;
	font-weight: 700;
	font-size: 25px;
	position: absolute;
	top: 45px;
	color: #5d7422;
}

#description2 {
	position: absolute;
	font-family: "Urbanist", sans-serif;
	font-weight: 600;
	font-size: 13px;
	line-height: 1.6;
	width: 60%;
	top: 80px;
	color: #5d7422;

}

.historical {
	padding-top: 50px;
	padding-left: 30px;
	width: 50%;
	height: 350px;
	float: left;
	position: relative;
}

#historical {
	width: 100%;
	height: 100%;
	border-radius: 25px;
	border-width: 5px;
	border-style: solid;
	border-color: #53aeb7;
	object-fit: cover;
}

.textbox3 {
	padding-left: 30px;
	padding-top: 80px;
	background: #ffffff;
	width: 30%;
	height: 270px;
	position: absolute;
	top: 55px;
	left: 35px;
	border-radius: 20px 0px 0px 20px;
	opacity: 80%;
}

#subhead3 {
	font-family: "Urbanist", sans-serif;
	font-weight: 700;
	font-size: 25px;
	position: absolute;
	top: 30px;
	color: #5d7422;
}

#description3 {
	position: absolute;
	font-family: "Urbanist", sans-serif;
	font-weight: 600;
	font-size: 13px;
	line-height: 1.6;
	width: 70%;
	top: 65px;
	color: #5d7422;
}

.food {
	padding-right: 30px;
	padding-top: 50px;
	padding-left: 60px;
	width: 40%;
	height: 350px;
	float: right;
	position: relative;
}

#food {
	width: 100%;
	height: 100%;
	border-radius: 25px;
	border-width: 5px;
	border-style: solid;
	border-color: #53aeb7;
	object-fit: cover;
}

.textbox4 {
	padding-left: 30px;
	padding-top: 80px;
	background: #ffffff;
	width: 35%;
	height: 270px;
	position: absolute;
	top: 55px;
	left: 65px;
	border-radius: 20px 0px 0px 20px;
	opacity: 85%;
}

#subhead4 {
	font-family: "Urbanist", sans-serif;
	font-weight: 700;
	font-size: 25px;
	position: absolute;
	top: 25px;
	color: #5d7422;

}

#description4 {
	position: absolute;
	font-family: "Urbanist", sans-serif;
	font-weight: 600;
	font-size: 13px;
	line-height: 1.6;
	width: 70%;
	top: 60px;
	color: #5d7422;

}

#about {
	padding-top: 40px;
	padding-left: 30px;
	font-family: "Slackey", sans-serif;
	font-weight: 400;
	font-size: 50px;
	color: #e8b235;
}

.aboutbox
{
	border-radius: 15px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 60px;
	padding-bottom: 30px;
	height: 690px;
}

#aboutpic {
	width: 60%;
	height: 100%;
	border-radius: 25px;
	object-fit: cover;
}

#abouttext {
	font-family: "Urbanist", sans-serif;
	font-weight: 400;
	font-size: 23px;
	line-height: 1.6;
	width: 35%;
	float: right;
	padding-top: 90px;
	padding-right: 30px;
	color: #5d7422;
}